.weight100 {
  font-weight: 100;
}

/*  */

.description {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

/* .oneLiner {
  background-color: green;
} */

.words {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-weight: 800;
}

.word {
  font-weight: 400;
  position: absolute;
  opacity: 0;
  animation: slideWords 10s linear infinite;
  color: white;
  border-bottom: 2px solid white;
}
.word:nth-child(2) {
  color: white;
  border-bottom: 2px solid white;
  animation-delay: 2s;
}

.word:nth-child(3) {
  color: white;
  border-bottom: 2px solid white;
  animation-delay: 4s;
}

.word:nth-child(4) {
  color: white;
  border-bottom: 2px solid white;
  animation-delay: 6s;
}

.word:nth-child(5) {
  color: white;
  border-bottom: 2px solid white;
  animation-delay: 8s;
}

@media (max-width: 450px) {
  .description {
    flex-direction: column;
    justify-content: center;
  }
  .oneLiner {
    font-size: 0.9rem;
  }
  .words {
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 0.9rem;
  }
}

@keyframes slideWords {
  0%,
  20% {
    opacity: 0;
  }

  10%,
  15% {
    opacity: 1;
  }
}
